[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/isha-dhyani
[access "refs/for/refs/*"]
	read = group user/isha-dhyani
	push = group user/isha-dhyani
	label-Code-Review = -2..+2 group user/isha-dhyani
	label-Verified = -1..+1 group user/isha-dhyani
	rebase = group user/isha-dhyani
	removeReviewer = group user/isha-dhyani
	submit = group user/isha-dhyani
[access "refs/heads/*"]
	read = group user/isha-dhyani
	create = group user/isha-dhyani
	push = +force group user/isha-dhyani
	pushMerge = group user/isha-dhyani
[access "refs/tags/*"]
	push = +force group user/isha-dhyani
	pushTag = group user/isha-dhyani
	pushSignedTag = group user/isha-dhyani
